//L5.1 Function
@function fluidize($target, $context) {
  @return ($target / $context) * 100%;
}

.sidebar {
  width: fluidize(350px,1000px);
}

//L5.2 If
$theme : light;

header {
  @if $theme == dark {
    background: #000;
  } @else if $theme == pink {
    background: pink;
  } @else {
    background: #fff;
  }
}

//L5.3 Each
$authors: nick aimee dan drew;

@each $author in $authors {
  .author-#{$author} {
    background: url(author-#{$author}.jpg);
  }
}

//L5.4 For + While
.for-loop1 {
  position: absolute;
  right: 0;
  @for $i from 1 through 3 {
    &.item-#{$i} {
      top: $i * 30px;
    }
  }
}

$i: 1;
.while-loop1 {
  position: absolute;
  right: 0;
  @while $i < 4 {
    &.item-#{$i} {
      top: $i * 30px;
    }
    $i: $i +1;
  }
}
