//L6.2 Differing units
.units-comb {
  font-size: 10px + 4pt; //Sass combines to px
  /* font-size: 10px + 4em; //Error on incompatible units
  */
}

//6.3 Math Functions
h2.math-funcs {
  line-height: ceil(1.2);
}

$context : 1000px;
.sidebar-mf {
  width: percentage(350px/$context);
}

//L6.4 Math + Color
$color-base: #333333;

.addition {
  background: $color-base + #112233;
}
.subtraction {
  background: $color-base - #112233;
}
.multiplication {
  background: $color-base * 2;
}
.division {
  background: $color-base / 2;
}

