//L3.1 Mixins setup + use
@mixin button {
  border: 1px solid #ccc;
  font-size: 1em;
  text-transform: uppercase;
}

.btn-a {
  @include button;
  background: #777;
}

.btn-b {
  @include button;
  background: #ff0;
}

//L3.2 Adding arguments
@mixin box-sizing($x: content-box) { //valor por defecto
  -webkit-box-sizing: $x;
  -moz-box-sizing: $x;
  box-sizing: $x;
}

.content {
  @include box-sizing(border-box);
  border: 1px solid #ccc;
  padding: 20px;
}
.callout {
  @include box-sizing; //sin argumentos
}

//L3.3 multiple arguments
@mixin button($radius, $color: #ccc) {
  border-radius: $radius;
  color: $color;
}

.btn-test1 {
  @include button(4px); //only one parameter
}

.btn-test2 {
  @include button($color: #777, $radius: 5px); //change params order
}

//L3.4 Variable arguments
@mixin button-va($var...) {
  -webkit-transition: $var;
  -moz-transition: $var;
  transition: color $var;
}
.btn-ta {
  @include button-va(color 0.3s ease-in, background 0.5s ease-out)
}

@mixin button1-va($radius, $color: #ccc) {
  border-radius: $radius;
  color: $color;
}

$properties: 4px, #000;

.btn-test1 {
  @include button1-va($properties...);
}
