//L3.1 Mixins setup + use
@mixin button {
  border: 1px solid #ccc;
  font-size: 1em;
  text-transform: uppercase;
}

.btn-a {
  @include button;
  background: #777;
}

.btn-b {
  @include button;
  background: #ff0;
}

//L3.2 Adding arguments
@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content {
  @include box-sizing;
  border: 1px solid #ccc;
  padding: 20px;
}
