//L3.1 Mixins setup + use
@mixin button {
  border: 1px solid #ccc;
  font-size: 1em;
  text-transform: uppercase;
}

.btn-a {
  @include button;
  background: #777;
}

.btn-b {
  @include button;
  background: #ff0;
}

//L3.2 Adding arguments
@mixin box-sizing($x: content-box) { //valor por defecto
  -webkit-box-sizing: $x;
  -moz-box-sizing: $x;
  box-sizing: $x;
}

.content {
  @include box-sizing(border-box);
  border: 1px solid #ccc;
  padding: 20px;
}
.callout {
  @include box-sizing; //sin argumentos
}
