//L4.1 Extend Setup + Use
.extend-a {
  background: #777;
  border: 1px solid #ccc;
  font-size: 1em;
  text-transform: uppercase;
}

.extend-b {
  @extend .extend-a;
  background: #ff0;
};

//L4.2 Nesting + Extend
.content-ne {
  border: 1px solid #ccc;
  h2 {
    font-size: 2em;
  }
}
.callout-ne {
  @extend .content-ne;
  background: #ddd;
}

//L4.3 Extend Pitfalls
.btn-ep-a {
  background: #777;
  font-size: 1em;
}

.btn-ep-b {
  @extend .btn-ep-a;
  background: #ff0;
}

.sidebar .btn-ep-a {
  text-transform: lowercase;
}

//L4.4 Placeholder Selector
%btn-ps {
  background: #777;
  font-size: 1em;
}
.btn-ps-a {
  @extend %btn-ps;
}
.btn-ep-b {
  @extend %btn-ps;
  background: #ff0;
}
.sidebar .btn-ps-a { //En este caso no interfiere con .btn-ep-b
  text-transform: lowercase;
}
